$blue:   #768cfb;
$green:  #15cfae;
$orange: #ff5814;
$red:    #d20d30;
$dark:   #25292a;
$middle: #eef2f7;
$light:  #fdfbf8;

$bggrey: #eeeeee;
$bdgrey: #d2d2d2;

$border: #767676;
$hover:  #768cfb77;

$select: #1c4acc;
$lightr: #2c5adc;
$isnew:  #f4ff4b;